mixin menu-content(...items)
    ul.header-sub_menu_content
        each item in items
            li.header-sub_menu_content-item
                a.header-sub_menu_content-link(href="#")= item

mixin footer-link(title)
    li.footer-row-item
        a.footer-row-link(href="#")= title

mixin footer-heading(title)
    li.footer-row-item
        a.footer-row-heading(href="#")= title

mixin sl-banner(title)
    a.index_banner-item(href="#")
        svg
            use(xlink:href='images/svg/symbol/sprite.svg#build')
        span= title

mixin desc(number, desc)
    .a_company-item
        .a_company-number= number
        .a_company-desc=desc

mixin m_btn
    a.more_btn(href="#")
        span подробнее
        svg
            use(xlink:href='images/svg/symbol/sprite.svg#more_btn')

mixin s_title(black, blue)
    .section_title
        span=black 
            span=blue

mixin stages-item(title, desc, svg)
    .stages-item
        .stages-icon
            svg
                use(xlink:href=`images/svg/symbol/sprite.svg${svg}`)
        .stages-text
            span=title
            p=desc

mixin svg(svg)
    svg
        use(xlink:href=`images/svg/symbol/sprite.svg${svg}`)

mixin ob-item(img, title)
    .objects-item(style=`background-image: url(images/objects/${img});`)
        .objects-text
            span.objects-title= title
            a.objects-btn(href="#")
                span Рассчитать
                +svg('#objects-svg')

mixin fact(icon, title, desc)
    .facts-item
        .facts-icon= icon
        .facts-text
            span= title
            p= desc

mixin arrow_btn(title)
    a.more_btn(href="#")
        span= title
        svg
            use(xlink:href='images/svg/symbol/sprite.svg#more_btn')

mixin form_btn(text, mod) 
    button.button(type="submit" class=`${mod}__button`)= text
        .button__icon
            svg.button__arrow
                use(xlink:href='images/svg/symbol/sprite.svg#arrow')

mixin pack-card(title,desc)
    .pack__card
        img.pack__img(src="images/engineering/card-img.png")
        .pack__card-content
            .pack__title= title
            .pack__desc= desc

mixin design-card(number,desc)
    .design__card-wrapper
        .design__card
            .design__number-wrapper
                .design__number= number
            .design__desc= desc
            .design__decor

mixin order-card(img,title,desc)
    .order__card-wrapper
        .order__card
            img.order__card-img(src=`images/order/${img}.png`)
            .order__content-wrapper
                .order__card-title= title
                .order__card-desc= desc

mixin radio-input(name, title)
    label.radio-input
        input(type="radio", name=`${name}`)
        b
        i
        span= title

mixin blue_btn(title)
    a.blue_btn(href="#")
        span= title
        +svg('#calc-arrow')

mixin breadcroumbs(...items)
    ul.breadcroumbs
        each item in items
            li
                a(href="#")= item

mixin services-table-content(...items)
    each item in items
        td
            div= item

mixin input-name(mod)
    label.application-form-label
        input(type="text")
        span ФИО

mixin input-group(mod)
    label.application-form-label
        input(type="email")
        span email адрес
    label.application-form-label
        input(type="text")
        span номер телефона

mixin input-mail(mod)
    label.application-form-label
        input(type="email")
        span email адрес

mixin input-file(mod)
    label.application-form-label.application-form-label-for_file(class=`${mod}__form-file-label`)
        input(type="file")
        span Добавить файл
        p.application-form-file-name
        p.application-form-file-btn выбрать

mixin textarea(mod)
    label.application-form-label.application-form-label-textarea(class = `${mod}__textarea`)
        textarea
        span Сообщение

mixin condition(mod)
    .condition-wrapper(class=`${mod}__condition-wrapper`)
        .condition(class=`${mod}__condition`)
            label.condition-label.label
                input.condition-checkbox(type="checkbox")
                span.condition-custom-checkbox
            span.condition-text(class=`${mod}__condition-text`) Я принимаю условия <br>
                a.condition-link(href="#") пользовательского соглашения
        +form_btn("отправить",`${mod}`)


